*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Clash";
    src: url(fonts/ClashDisplay-Bold.ttf);
    font-weight: 700;
}
font-face{
    font-family: "Clash";
    src: url(fonts/ClashDisplay-Medium.ttf);
    font-weight: 500;
}
font-face{
    font-family: "Clash";
    src: url(fonts/ClashDisplay-Regular.ttf);
    font-weight: 400;
}

body{
    background-color: black;
    color: white;
    font-family: "inter", sans-serif;
    overflow-x: hidden;
}

section, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}




h1,
h2{
    font-family: "Clash" sans-serif;
}


.botoes{
    display: flex;
    gap: 32px;
    
    a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 8px 8px 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 40px;
    color: rgba(0, 0, 0, 0.9);
    }

    .botaoSecundario{
    background-color: black;
    color: rgba(255, 255, 255, 0.882);
    border: 2px solid rgba(255, 255, 255, 0.151);
}
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 44px 4vw;
    position: fixed;
    z-index: 99;
    flex-direction: row;
    mix-blend-mode: difference;

    h1{
        font-size: 24px;
        font-weight: 400;
    }
}

.hero{
    height: 100vh;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;


    .subtitulo{
        position: relative;
        width: 350px;
        height: 56px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px; 
        margin-bottom: 72px;

        video{
            position: absolute;
            width: 100%;
            top: 0;
            z-index: -1;
        }

        h3{
            font-size: 16px;
            z-index: 2;
            font-weight: 400;
            mix-blend-mode: color-dodge;
            color: rgb(216, 216, 216);
        }
    }
    .conteudo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 13vw;

    h2{
        font-size: 3.5vw;
        text-align: center;
        font-weight: 400;
    }

    p{
        text-align: center;
        width: 70%;
        font-size: clamp(16px, 1.1vw, 1.1vw);
        line-height: clamp(24px, 1.8vw, 1.8vw);
        margin-top: 24px;
        margin-bottom: 40px;
    }
}

}

.subtitulo:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.208);
    position: absolute;
    z-index: 1;

}

.secao2{
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 4vw;

    h2{
        font-size: 4vw;
        font-family: "inter" sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.75);
    }
}

.secao3{
    justify-content: center;
    align-items: center;

    h2{
        font-size: 3.5vw;
        font-weight: 400;
        margin-bottom: 20px;
    }

    p{
        color: rgba(255, 255, 255, 0.882);
        margin-bottom: 60px;
    }

    .projetos{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;
    }
}

.secao4{
    height: 100vh;
    align-items: center;
    justify-content: center;

    h2{
        font-size: 9vw;
        position: absolute;
        color: rgba(255, 255, 255, 0.75);
        opacity: 0;
    }

    .primeiroH2{
        opacity: 1;
    }
}

footer{
    position: relative;
    height: 100vh;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 4vw;
    overflow: hidden;

    .esquerda{
        h2{
            font-weight: 400;
            font-size: 10vw;            
        }      
        
        div{
            display: flex;
            gap: 32px;
        }

        a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.882);
        }
    }

    .direita{ 
        width: 46%;
        display: flex;
        flex-direction: column;
        align-items: end;        

        h2{
            font-size: 3vw;
            text-align: end;
        }

        p{
            margin: 32px 0px 40px;
            color: rgba(255, 255, 255, 0.882);
        }
    }
}


